@import url("https://fonts.googleapis.com/css2?family=Righteous&display=swap");

body {
  background-image: radial-gradient(#ddfffc 10px, transparent 10px),
    radial-gradient(#ddfffc 10px, transparent 10px);
  background-size: 100px 100px;
  background-position: 0 0, 50px 50px;
  background-color: #ffffff;
}

#main {
  margin-top: -20px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

#buttonGrid {
  position: absolute;
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  gap: 3px;
  padding: 0 11px;
}

#gameGrid {
  padding: 10px;
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  gap: 5px;
  border: 3px solid rgb(115, 174, 184);
  background: rgb(58, 163, 180);

  border-radius: 15px;
}

.slot {
  width: 38px;
  height: 38px;
  border-radius: 100vmax;
  background-color: #e1fff4;
}

.gameButton {
  position: relative;
  width: 40px;
  height: 360px;
  transition: 0.1s;
  background: transparent;
  border: none;
}

.botones {
  display: flex;
  margin: auto;
  align-items: center;
  justify-content: center;
  width: 100%;
  gap: 20px;
}

.controlButtonh,
.controlButtonAi {
  justify-content: center;
  width: 250px;
  height: auto;
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 10px;
  border-radius: 10px;
}

.controlButtonAi {
  background-color: rgba(58, 163, 180, 1);
  color: aliceblue;
}

.controlButtonh {
  background: rgb(58, 163, 180);
  background: linear-gradient(
    311deg,
    rgba(58, 163, 180, 1) 0%,
    rgba(252, 176, 69, 1) 100%
  );
}

.controlButtonh:hover,
.controlButtonAi:hover {
  filter: invert(1);
}

.titulo,
.modoactual {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Righteous", cursive;
  font-size: 1.2rem;
  color: rgb(8, 163, 187);
  margin-top: -20px;
}

.ganador {
  font-family: "Righteous", cursive;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  /* margin: -20px 0; */
}
